<html>
  <head>
    <title>Новости с яндекса!</title>
  </head>
  <body>
    <h1>Новости</h1>
    <ul id="news">
    {% for item in news %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
    <h1>Валюты</h1>
    {% include 'currencies.html' %}
  </body>
</html>
